<div class="card" id="card">
  <h3>Card</h3>
  <p>
    This is a card.
  </p>
  <button hx-put="/card" hx-target="#card" hx-swap="outerHTML">
      {{ if .Enabled }}Turn Off{{ else }}Turn On{{ end }}
  </button>
</div>
