/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  line-height: 1.25rem;
}

header {
  background-color: #f57c00;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 40px;
  width: auto;
}

header span {
  font-weight: bold;
  font-size: 1.2em;
}

header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1em;
}

header a:hover {
  text-decoration: underline;
}

input {
  width: 50%;
  padding: 8px;
  height: 32px;
  margin: 8px;
  border-radius: 4px;
  border-width: 1px;
}

li {
  list-style-type: none;
}

p {
  margin-bottom: 16px;
  max-width: 75ch;
}

button {
  margin-left: 16px;
  padding: 4px;
}

.profile-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
}

.max-width-40em {
  max-width: 40em;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.gray {
  color: #9e9e9e;
}

.red {
  color: #ff5252;
}

.justify-center {
  justify-content: center;
}

.max-height-7em {
  max-height: 7em;
}

.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pa-4 {
  padding: 4px;
}

.pa-16 {
  padding: 16px;
}

.profile-info {
  margin-bottom: 20px;
  font-size: 1em;
}

/* Card Layout */
.sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.badge {
  max-height: 40px;
}
/* 
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
} */

.align-center {
  display: flex;
  align-items: center;
}

button {
  text-transform: uppercase;
  background-color: white;
  color: #f57c00;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled,
button:disabled:hover {
  background-color: white;
  opacity: 0.5;
  color: #f57c00;
}

button:hover {
  background-color: #f57c00;
  color: white;
}

button.warning {
  text-transform: uppercase;
  background-color: white;
  color: #ff5252;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover.warning {
  background-color: #ff5252;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sections {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .sections {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  header a {
    margin: 10px 0;
  }
}
